body {
    display: flex;
    flex-direction: column;
}

.header, .footer {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    margin: 8px;
}

.header #logo {
    font-size: 24px;
    color: #F9FAF8;
}

a {
    font-size: 18px;
    color: #E5E7EB;
}

.header ul {
    display: flex;

}