body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#top-container {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 8px 15% 15%;

}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    display: flex;
    gap: 16px;
    padding-top: 10%;
}

.sign-up {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-start;
    gap: 8px;
}

img {
    flex: 1;
    color: #F9FAF8;
    text-align: center;
    background-color: grey;
}

button {
    flex-basis: 24px;
    width: 75px;
    border-radius: 8px;
    background-color: #2882F6;
    color: #F9FAF8;
    border: 0;
}

.header ul {
    display: flex;
}

.header #logo {
    font-size: 24px;
    color: #F9FAF8;
}

.content .sign-up .title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.content .sign-up .description, a {
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    margin: 8px;
}